[submodule "wheels/requests_ntlm"]
    path = wheels/requests_ntlm
    url = git@cd.splunkdev.com:phantom-external/requests_ntlm.git
    ignore = dirty
[submodule "wheels/pywinrm"]
    path = wheels/pywinrm
    url = git@cd.splunkdev.com:phantom-external/pywinrm.git
    ignore = dirty
[submodule "wheels/ntlm_auth"]
    path = wheels/ntlm_auth
    url = git@cd.splunkdev.com:phantom-external/ntlm_auth.git
    ignore = dirty
